@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

body{
    background-color: rgb(239, 238, 239);
}

nav{
    background: rgb(35, 35, 35);
  }
  nav img{
    width: 180px;
    margin-top: -10px;
  }
  nav button{
    font-weight: 600;
    font-family: 'Dosis', sans-serif;
    background-color: rgb(89, 0, 255);
    border: none;
    border: rgb(89, 0, 255) solid 1px;
    color: white;
    transition: 1000ms;
  }
  nav button:hover{
    background-color: white;
    border: rgb(89, 0, 255) solid 1px;
    color: black;
    transition: 1000ms;
  }

.box{
    background-color: white;
    height: 50vh;
    position: relative;
    top: 20vh;
    border-radius: 20px;
    
}
.box input{
    width: 60%;
    padding: 7px;
    margin: 10px;
    border: 1px solid rgb(89, 0, 255);
    border-radius: 5px;
    font-size: 20px;
}
.box button{
    width: 40%;
    padding: 4px;
    margin: 10px;
    border: 1px solid rgb(89, 0, 255);
    border-radius: 5px;
    background-color: rgb(89, 0, 255);
    color: white;
    font-weight: 100;
    font-family: 'Quicksand', sans-serif;
    transition: 500ms;
}
.box button:hover{
background-color: white;
color: black;
transition: 500ms;
}
.back{
    position: relative;
    top: 12vh;
}
.text{
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    text-transform:lowercase ;
}
.mail{
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    text-transform:lowercase ;
}