@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
body{
    background-color: rgb(239, 238, 239);
}
nav{
  background: rgb(35, 35, 35);
}
nav img{
  width: 180px;
  margin-top: -10px;
}
nav button{
  font-weight: 600;
  font-family: 'Dosis', sans-serif;
  background-color: rgb(89, 0, 255);
  border: none;
  border: rgb(89, 0, 255) solid 1px;
  color: white;
  transition: 1000ms;
}
nav button:hover{
  background-color: white;
  border: rgb(89, 0, 255) solid 1px;
  color: black;
  transition: 1000ms;
}
.ilan{
    position: relative;
    top: 100px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}
.ilan img{
    width: 100%;
    border-radius: 10px;
}
.firma-isim{
    font-size: 25px;
    font-weight: 900;
    font-family: 'Quicksand', sans-serif;
    text-transform: capitalize;
}
.Bolum{
    font-size: 15px;
    font-weight: 900;
    font-family: 'Quicksand', sans-serif;
    text-transform: capitalize;
}
.tanim{
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 900;
    font-family: 'Quicksand', sans-serif;
    text-transform: capitalize;
}
.adres{
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 900;
    font-family: 'Quicksand', sans-serif;
    text-transform: capitalize;
}
.harita iframe{
    width: 85%;
    border-radius: 10px;
    height: 40vh;
    position: relative;
}
.basvur{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px;
    width: 100%;
    border-radius: 50px;
    background-color: rgb(89, 0, 255);
    color: white;
    border: 1px solid rgb(89, 0, 255);
    transition: 500ms;
    font-weight: 900;
    font-family: 'Quicksand', sans-serif;
    text-transform: capitalize;
}
.basvur:hover{
    background-color: transparent;
    color: black;
    transition: 500ms;
}
.baslik{
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Quicksand', sans-serif;
    text-transform: capitalize;
}
.box{
    background-color: white;
    position: absolute;
    top: 80%;
    right:10%;
    height: 200%;
    width: 12%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    display: none;
  }
  .box a{
    text-decoration: none;
  }
  .sec{
    font-weight: 900;
    font-family: 'Quicksand', sans-serif;
    text-transform: capitalize;
    background-color: transparent;
    padding: 3px;
    color: black;
    border-radius: 5px;
    transition: 300ms;
    margin-bottom: 5px;
  }
  .sec:hover{
    background-color: rgb(89, 0, 255);
    color: white;
    transition: 300ms;
  }
.iletisim{
    font-weight: 900;
    font-family: 'Quicksand', sans-serif;
}
.tarih{
  font-weight: 900;
  font-family: 'Quicksand', sans-serif;
  text-transform: capitalize;
  font-size: 14px;
}
.modal-title{
  font-family: 'Quicksand', sans-serif;
  text-transform: capitalize;
  font-weight: 900;
}
.modal-body select{
width: 100%;
padding: 10px;
border-radius: 5px;
border-radius: 1px solid gray;
outline-color: rgb(89, 0, 255);
font-family: 'Quicksand', sans-serif;
text-transform: capitalize;
}
.modal-footer button{
background-color: rgb(89, 0, 255);
padding: 8px;
border: none;
color: white;
width: 100%;
}
.bell{
  margin: 10px;
}
.fa-circle{
  font-size: 10px;
  color: red;
  margin-left: -8px;
}
nav .bell .btn-secondary{
  background-color: transparent;
  border: none;
  color: rgb(255, 208, 0);
  width: 10%;
}
.bell .dropdown-menu{
  background-color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
}
.bell .dropdown-item{
color: black;
font-family: 'Quicksand', sans-serif;
font-weight: 900;
}
.bell .dropdown-item:hover{
  color: black;
}

.login .dropdown-menu{
  background-color: rgb(255, 255, 255);
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
}
.login .dropdown-item{
color: rgb(0, 0, 0);
font-family: 'Quicksand', sans-serif;
font-weight: 900;
}
.login .dropdown-item:hover{
  color: white;
  background-color: rgb(89, 0, 255);
}
nav .login .btn-secondary{
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
  background-color: rgb(89, 0, 255);
  border: none;
  border: rgb(89, 0, 255) solid 1px;
  color: rgb(255, 255, 255);
  transition: 1000ms;
  text-transform: uppercase;
  letter-spacing: 1px;
}